* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.text-white {
    color: #fff;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...) */

/* Cách CSS:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết */

#main {}

#header {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    height          : 46px;
    background-color: #000;
    z-index         : 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color         : #fff;
    text-transform: uppercase;

}

#nav li a {
    text-decoration: none;
    line-height    : 46px;
    padding        : 0 24px;
    font-size      : 20px;
    display        : block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav>li:hover>a,
#nav>li:hover>a {
    color           : #fff;
    background-color: #ccc;
}

.nav-arrow-down {
    font-size: 14px;
}

#nav .subnav {
    display         : none;
    min-width       : 160px;
    top             : 100%;
    left            : 0;
    position        : absolute;
    background-color: #fff;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color      : #000;
    padding    : 0 16px;
    line-height: 38px;
}


#header .search-button {
    float  : right;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: red;
    cursor          : pointer;
}

#header .search-icon {
    color      : #fff;
    font-size  : 20px;
    line-height: 46px;

}

#slider {
    margin-top : 46px;
    padding-top: 50%;
    position   : relative;
    background : url('../img/slider/slider2.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position     : absolute;
    color        : red;
    bottom       : 48px;
    text-align   : center;
    width        : 100%;
    /* left      : 50%;
    transform    : translateX(-50%); */
}

#slider .text-heading {
    font-weight: 600;
    font-size  : 24px;
}

#slider .text-description {
    margin-top: 25px;
}

#content .content-section {
    width       : 800px;
    margin-right: auto;
    margin-left : auto;
    padding     : 64px 0;
}

#content .section-heading {
    font-size     : 30px;
    text-align    : center;
    font-weight   : 500px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .sub-section-heading {
    font-size : 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity   : .6;
}


#content .about-text {
    margin-top : 25px;
    font-size  : 15px;
    text-align : justify;
    line-height: 1.4;
}

#content .member-list {
    display        : flex;
    justify-content: space-between;
    margin-top     : 48px;
}

#content .member-item {
    width     : 150px;
    text-align: center;

}

#content .member-img {
    margin-top         : 15px;
    height             : 250px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    border-radius      : 5px;
}

.container {
    background-color: #000;
}

.container .booking {
    background-color: #fff;
    margin-top      : 40px;
}

.container li {
    padding      : 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style   : none;
}

.container .sold-out {
    background-color: #f44336;
    padding         : 3px 4px;
    color           : #fff;
    margin-left     : 16px;
}

.container .quantity {
    width           : 25px;
    height          : 25px;
    float           : right;
    background-color: #000;
    color           : #fff;
    border-radius   : 50%;
    text-align      : center;
    line-height     : 25px;
    margin-top      : -3px;
}


#footer {}